---
import { Icon } from "astro-icon/components";
import type { ContactInfo } from "@backend/payload-types";
import { formatPhone } from "../helpers/FormatPhone";
const response = await fetch(`${process.env.API_URL}/globals/contact_info`);
if (response.status !== 200) {
    throw new Error("Failed to fetch contact info.");
}
const contanctInfo: ContactInfo = await response.json();
---

<style>
    .title {
        @apply mb-4 text-xs font-semibold uppercase tracking-widest text-primary-100 nmd:mb-3 nmd:text-sm nlg:mb-4;
    }
    .icon {
        @apply h-auto w-4 text-primary-300 nmd:w-5;
    }
</style>
<footer class="pdx pdy bg-primary-1000">
    <div
        class="mx-auto flex w-fit flex-row flex-wrap gap-x-14 nmd:gap-x-32 nlg:gap-48 gap-y-6 font-main"
    >
        <div class="">
            <p class="title">Contact</p>
            <div
                class="grid grid-cols-max-2 items-start gap-x-3 gap-y-5 text-sm nmd:text-sm nlg:text-base"
            >
                <Icon
                    name="phone-filled"
                    class="icon mt-[2px] nmd:mt-0 nlg:mt-[2px]"
                    aria-label="Phone numbers"
                />
                <ul class="flex flex-col gap-2 text-primary-300 nmd:gap-2">
                    {
                        contanctInfo.phone_numbers.map((item) => (
                            <li>{formatPhone(item.phone_number)}</li>
                        ))
                    }
                </ul>
                <Icon name="mail" class="mt-1 nmd:mt-[2px] nlg:mt-1 icon" aria-label="Email" />
                <p class="text-primary-300">{contanctInfo.email}<p></p></p>
            </div>
        </div>
        <div>
            <p class="title">Find Us</p>
            <p
                class="mb-3 text-sm text-primary-300 nmd:mb-3 nmd:text-sm nlg:mb-4 nlg:text-base"
            >
                {contanctInfo.address}
            </p>
            <iframe
                src={contanctInfo.google_maps_link}
                style="border:0;"
                class="max-w-full"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</footer>
