---
import type { detailedOffer } from "@backend/types/Offers";
import { Image } from "astro:assets";
import getFormattedPrice from "../utils/getFormattedPrice";

const offersResponse = await fetch(
    `${process.env.API_URL}/globals/offers/full`,
);
if (offersResponse.status != 200) {
    throw new Error("Failed to fetch offers.");
}
const offersData: detailedOffer = await offersResponse.json();

const List = offersData.list;
---

<div
    class="flex w-full flex-row flex-wrap justify-stretch gap-x-4 gap-y-10 nmd:grid nmd:grid-cols-[360px_1fr] nmd:grid-rows-2 nmd:gap-6 nlg:grid-cols-2 nlg:gap-10"
>
    {
        List.map((item, i) => (
            <div
                class:list={[
                    "relative flex shrink-0 grow basis-[200px] flex-col bg-primary-850 font-main",
                    {
                        "nmd:col-start-2 nmd:row-start-1 nmd:row-end-3 nmd:h-full":
                            i === 2,
                    },
                ]}
            >
                <div class="relative h-full">
                    <Image
                        widths={[450, 600, 800]}
                        src={
                            typeof item.image == "string"
                                ? item.image
                                : `${process.env.CMS_URL}${item.image.url}`
                        }
                        inferSize={true}
                        alt=""
                        class:list={[
                            "aspect-[1.3] h-auto w-full object-cover nmd:aspect-video",
                            {
                                "nmd:aspect-auto nmd:h-full": i === 2,
                            },
                        ]}
                        format="webp"
                        loading="lazy"
                    />
                    <div class="absolute inset-0 bg-black opacity-20" />
                </div>
                <div class="gap-1 px-2 py-3 font-main nmd:absolute nmd:bottom-0 nmd:flex nmd:w-full nmd:flex-row nmd:justify-between nmd:p-0 nmd:align-bottom">
                    <p class="block bg-opacity-80 text-sm text-primary-300 nmd:bg-primary-900/80 nmd:p-2 nmd:text-xs nmd:backdrop-blur-md nlg:text-sm">
                        {item.details.item}
                    </p>
                    <p class="text-xs text-primary-400 nmd:bg-primary-900/80 nmd:p-2 nmd:text-primary-300 nmd:backdrop-blur-md nlg:text-sm">
                        {getFormattedPrice(item.details.price)}
                    </p>
                </div>
            </div>
        ))
    }
</div>
