---
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import heroImg from "../images/hero.png";
import Image from "astro/components/Image.astro";
import teamImg from "../images/team.jpg";
import fabricBackground from "../images/fabric-pattern.png";
import starBackground from "../images/8-star-pattern.png";
import { getImage } from "astro:assets";
import Offers from "../components/Offers.astro";
import Cadre from "../components/Cadre.astro";
import LineDecorator from "../components/LineDecorator.astro";

const optimizedFabricBackground = await getImage({
    src: fabricBackground,
    format: "webp",
    inferSize: true,
});
const optimizedStarBackground = await getImage({
    src: starBackground,
    format: "webp",
    inferSize: true,
});

const socials = [
    ["instagram", "etoiledor", "https://www.instagram.com/"],
    ["facebook", "etoiledor", "https://www.facebook.com/"],
];
---

<BaseLayout title="Restaurant Home">
    <Header className="main-header" />
    <!-- HERO -->

    <section class="hero relative">
        <div
            class="pdx pdy flex min-h-screen w-full flex-col items-center justify-center text-center font-main"
        >
            <Image
                src={heroImg}
                format="jpg"
                widths={[400, 800, 1200, 1600]}
                alt=""
                loading={"eager"}
                class="absolute inset-0 -z-10 h-full w-full object-cover"
            />
            <Cadre className="">
                <div class="flex flex-col items-center">
                    <h1
                        class="mb-4 text-xl text-primary-300 nmd:mb-4 nmd:text-3xl nlg:mb-5 nlg:text-4xl"
                    >
                        Discover the true beauty of cuisine
                    </h1>
                    <p
                        class="mb-6 text-sm text-primary-300 nmd:mb-8 nmd:text-base nlg:mb-10"
                    >
                        Exquisite flavors served in a setting of timeless
                        elegance.
                    </p>
                    <div
                        class="flex flex-row flex-wrap justify-center gap-x-7 gap-y-5 nlg:gap-x-12"
                    >
                        <a
                            class="btn-primary nmd:btn-primary-md"
                            href="/reservation"
                        >
                            Make a Reservation
                        </a>
                        <a
                            class="btn-secondary nmd:btn-secondary-md"
                            href="/reservation"
                        >
                            Checkout Our Menu
                        </a>
                    </div>
                </div>
            </Cadre>
        </div>
    </section>
    <!-- Featured -->
    <section
        class="pdx pdy relative bg-primary-950 bg-repeat bg-blend-multiply"
        style={`background-image: url(${optimizedFabricBackground.src})`}
    >
        <LineDecorator class="mb-6 nmd:mb-8 nlg:mb-10" />
        <h2
            class="mb-12 text-center font-main text-xl text-secondary-200 nmd:mb-10 nmd:text-2xl nlg:mb-20 nlg:text-3xl"
        >
            Top Picks
        </h2>
        <div class="mx-auto max-w-[1200px]">
            <Offers />
            <a
                href="/menu"
                class="btn-secondary btn-secondary-md nlg:btn-secondary-lg ml-auto mt-12 block w-fit nmd:mt-14 nlg:mt-16"
            >
                View Full Menu
            </a>
        </div>
    </section>

    <!-- About -->

    <section class="pdx pdy relative isolate bg-primary-950">
        <div class="relative z-10 mx-auto max-w-section">
            <h2
                class="mb-8 text-center font-main text-xl text-secondary-200 nmd:mb-14 nmd:text-2xl nlg:text-3xl"
            >
                About us
            </h2>
            <div
                class="flex flex-wrap items-center justify-center gap-6 md:gap-8 lg:gap-14"
            >
                <p
                    class="body min-w-64 max-w-sm shrink-0 grow basis-0 text-left font-main text-primary-300 nmd:max-w-lg"
                >
                    Founded in 1974 by an Algerian chef and cuisine lover, John
                    Doe. For over 50 years Etoile D’or has served customers and
                    worked to introduce people to the art of cuisine.
                </p>
                <Image
                    src={teamImg}
                    format="jpg"
                    alt={"A picture of our team"}
                    class="h-auto w-full min-w-64 max-w-sm shrink-0 grow basis-0 nmd:max-w-lg"
                    widths={[400, 700]}
                />
            </div>
        </div>
        <img
            class="absolute inset-0 h-full w-full bg-repeat opacity-[12%] mix-blend-overlay"
            style={`background-image: url(${optimizedStarBackground.src})`}
            alt=""
        />
    </section>

    <section class="pdx pdy relative bg-secondary-800">
        <h2
            class="mb-1 text-center font-main text-lg text-primary-300 nmd:text-xl nlg:mb-2 nlg:text-2xl"
        >
            Follow us
        </h2>
        <p
            class="mb-12 text-center font-main text-sm text-primary-300 nlg:text-base"
        >
            To get the latest news offers
        </p>
        <div
            class="flex flex-row items-stretch justify-center gap-10 nmd:gap-16"
        >
            {
                socials.map(([icon, tag, href]) => (
                    <a
                        href={href}
                        class="group flex flex-col items-center gap-2"
                    >
                        <div class="rounded-full border-2 border-solid p-4 text-primary-300 transition-colors duration-200 ease-in group-hover:bg-primary-300 group-hover:text-secondary-800 group-focus:border-primary-950 nlg:p-5">
                            <Icon
                                name={icon}
                                class="aspect-square h-auto w-6 fill-current nlg:w-7"
                            />
                        </div>

                        <p class="relative pb-1 font-main text-xs text-primary-300 before:absolute before:bottom-0 before:h-0.5 before:w-full before:origin-left before:scale-x-0 before:rounded-full before:bg-primary-300 before:transition-transform before:duration-[400ms] before:ease-elastic-in group-hover:before:scale-x-100 nmd:text-sm nlg:text-base">
                            @{tag}
                        </p>
                    </a>
                ))
            }
        </div>

        <style>
            .salt {
                @apply absolute aspect-auto h-auto fill-primary-300 stroke-primary-300 opacity-10;
                @apply w-8 nmd:w-10 nlg:w-12;
                pointer-events: none;
            }
            .pepper {
                @apply absolute aspect-auto h-auto fill-primary-300 stroke-primary-300 opacity-10;
                @apply w-14 nmd:w-16 nlg:w-20;
                pointer-events: none;
            }
        </style>
        <Icon
            name="pepper"
            class="pepper bottom-[15%] right-[20%] -rotate-45"
        />
        <Icon
            name="pepper"
            class="pepper bottom-[40%] right-[25%] hidden rotate-[65deg] nmd:block"
        />
        <Icon
            name="pepper"
            class="pepper bottom-[10%] left-[30%] hidden -rotate-[25deg] nmd:block"
        />
        <Icon name="salt" class="salt bottom-[10%] left-[15%] -rotate-12" />
        <Icon name="pepper" class="pepper left-[25%] top-[10%] -rotate-12" />
        <Icon name="salt" class="salt right-[15%] top-[15%] rotate-[35deg]" />
    </section>

    <style is:global>
        .main-header {
            background-color: transparent;
            transition: background-color 350ms ease-in-out;
        }

        .main-header.scrolled {
            background-color: transparent;
            @apply bg-primary-900;
        }

        header {
            float: right;
            width: 100%;
            shape-outside: inset(50%);
        }
    </style>
    <script>
        const header = document.querySelector(".main-header") as HTMLElement;
        const hero = document.querySelector(".hero") as HTMLElement;
        const observationHelper = document.createElement("div");
        observationHelper.style.height = "1px";
        observationHelper.style.position = "absolute";
        observationHelper.style.top = "0";
        observationHelper.style.left = "0";
        observationHelper.style.right = "0";

        hero.appendChild(observationHelper);
        const observerOptions: IntersectionObserverInit = {
            root: null,
            threshold: [1],
            rootMargin: "10%",
        };

        const observer = new IntersectionObserver((entries) => {
            if (!entries[0]) {
                return;
            }
            if (entries[0].isIntersecting) {
                header.classList.remove("scrolled");
            } else {
                header.classList.add("scrolled");
            }
        }, observerOptions);

        observer.observe(observationHelper);
    </script>
</BaseLayout>
